<html>
   <head>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script>
       <link rel="stylesheet" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">  
       <title> Top 8 US Cities (% Homeless) </title>
   </head> 
   <body>
     <div class="container">
         <canvas id="myChart" height="64" width="150"> </canvas>
     </div>
     <script>
         var myChart = document.getElementById('myChart').getContext('2d');

         var MassPopChart = new Chart(myChart,  {
             type: 'bar',
             data : {
                 labels:[{% for data in proportion_data %}'{{data.city}}',{% endfor %}
                  ],
                 datasets:[{
                     label:'Cities Homeless %',
                     data:[
                     {% for data in proportion_data %}'{{data.proportion}}',{% endfor %}
                     ],
                     backgroundColor: [
                         'rgba(255, 99, 132, 0.2)',
                         'rgba(54, 162, 235, 0.2)',
                         'rgba(255, 206, 86, 0.2)',
                         'rgba(75, 192, 192, 0.2)',
                         'rgba(153, 102, 255, 0.2)',
                         'rgba(255, 159, 64, 0.2)',
                         'rgba(159, 249, 253, 0.2)',
                         'rgba(118, 255, 118, 0.2)'


                     ],
                     borderColor: [
                         'rgba(255, 99, 132, 1)',
                         'rgba(54, 162, 235, 1)',
                         'rgba(255, 206, 86, 1)',
                         'rgba(75, 192, 192, 1)',
                         'rgba(153, 102, 255, 1)',
                         'rgba(255, 159, 64, 1)',
                         'rgba(159, 249, 253, 1)',
                         'rgba(118, 255, 118, 1)'
                         
                     ],
                     borderWidth : 1,
                     hoverBorderWidth:3,
                     hoverBorderColor:'#000' 
                 }]
             },
             options: {
                title: {
                    display: true,
                    text : '% Homeless by City',
                    fontSize:25

}
             },
             legend: {
             Display: true,
             labels: {
              fontColor: '#000'

        }

},

            padding: {

            left:50,
            right:0,
            bottom:0,
            top:0

        },

   tooltips: {
     enabled:true,
     }
         })
     </script>
   </body>
</html>

